@charset "UTF-8";

/*
 * ページ全体
 */
body{
    max-width: 960px;
    width: 100%;
    margin: auto;
    background-image:
        linear-gradient(
            90deg,
            transparent 50%,
            rgba(229, 229, 229, 1) 5%);
    background-size: 2px;
    background-repeat: repeat;
}



/*
 * ヘッダー
 */
#header{
    text-decoration: none;
    display: flex;
}

#header img{
    float: left;
    height: 64px;
}

#header h2{
    margin-top: 8px;
    margin-bottom: -8px;
}

#header p{
    margin-top: -8px;
    margin-bottom: 0px;
}



/*
 * メニュー
 */
#menu{
    display: block;
}
#menu li{
    display: inline-block;
    background-color: #ffffff;
    width: 30%;
    font-size: medium;
    text-align: center;
}

#menu a{
    display: block;
    color:#000000;
    text-decoration:none;
    line-height: 24px;
}

#menu a:hover{
    background:#E5E5E5;
}

/*
 * 本文
 */
#content{
    margin:20px 0px;
    font-size: 125%;
    background-color: #ffffff;
}
#content h2{
    border-top: solid 2px #E5E5E5;
    border-bottom: solid 2px #E5E5E5;
    margin-bottom: 0px;
}



/*
 * 入力フォーム
 */
#graphOptionList{
    display: flex;
    justify-content: center;
}
#graphOption{
    margin: 0px 4px;
}
#graphOption input{
    vertical-align:middle;
    font-size: 125%;
    width:176px;
}
#graphOption select{
    vertical-align:middle;
    font-size: 125%;
    width:180px;
    height:35px;
}



/*
 * グラフ
 */
#graphInfo{
    display:none;
    background-color: #ffffff;
}
#graphField{
    margin:0px;
    padding:0;
    display:none;
    width:100%;
    height:480px;
    background-color: #ffffff;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}



/*
 * マップ
 */
#mapField{
    width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
}
#mapField h2{
    margin: 0px 10px;
}
#map{
    width: 800px;
    height: 252px;
    margin: 0px;
    border-spacing: 0;
}
#map a{
    font-size: 14px;
    text-decoration: none;
    text-shadow: rgba(255,255,255,0.6) -1px 1px 0;
}
#map td{
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #eef2bf;
}
#map .corr{
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}
#map .snsr{
    border: 1px solid #fff;
    background-color: #eef2bf;
}
#map .less{
    border: 1px solid #fff;
    background-color: #888;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}



/*
 * フッター回り
 */
#footer{
    color: #888888;
    font-size: 75%;
}
