{#
	FILE :main.tpl
	DATE :2017.12.20
	DESCRIPTION :メインページテンプレート
	NAME :Hikaru Yoshida
#}

{# ベーステンプレートを継承 #}
{% extends "template/base.html" %}

{# <title></title>内の記述 #}
{% block title %} トップページ {% endblock %}

{# <head></head>内の記述 #}
{% block lib %}
	{{ super() }}
	{# jquery v3.3.1を読み込み #}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{# jquery-ui v1.12.1を読み込み #}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	{# jquery-ui-datepickerを読み込み #}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
	{# google chart toolsを読み込み #}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	{# graph.jsを読み込み #}
	<script type="text/javascript" src="./graph.js"></script>
	{# map.jsを読み込み #}
	<script type="text/javascript" src="./map.js"></script>
	{# ページ固有設定 #}
	<script>
		var url = '//tmpsys-sangitan.appspot.com/'

		$(function () {
			DatePicker.init('#select_date');
			SelectLocation.init('#select_loc');
			Graph.init('#graphField', '#graphInfo');
			HeatMap.init();
		});
	</script>
{% endblock %}

{# ページのヘッダー #}
{% block header %}
	{{ super() }}
{% endblock %}

{# ページのコンテンツ #}

{% block content %}
	<div id="content">
		{# オプション #}
		<div id='graphOptionList'>
			<div id='graphOption'>
				日付:
				<input type="text" id="select_date" />
			</div>
			<div id='graphOption'>
				期間:
				<select id="select_period">
					{% for period in periods %}
						<option value="{{ period.value }}">{{ period.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div id='graphOption'>
				場所:
				<select id="select_loc">
					{% for tag in tags %}
						<option value="{{ tag.value }}">{{ tag.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div id='graphOption'>
				種類:
				<select id="select_type">
					{% for kind in kinds %}
						<option value="{{ kind.value }}">{{ kind.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		{# グラフ #}
		<div id="graphInfo"></div>
		<div id="graphField"></div>
	</div>

	{# マップ #}
	<script>
	</script>
	<div id="mapField">
		<h2>短大棟 3F</h2>
		<table id="map">
			<tr>
				<td class="snsr s2cr">S2教室</td>
				<td class="corr"></td>
				<td class="snsr t1lab" colspan="2">T1実習室</td>
				<td class="less 3ftr">3F教官室</td>
				<td class="less 3fwc">トイレ</td>
				<td class="less 3flk">更衣室</td>
				<td class="corr"></td>
				<td class="less 3fwh">3F倉庫</td>
				<td class="snsr elec" rowspan="3">電子工作室</td>
			</tr>
			<tr>
				<td class="corr" colspan="9"></td>
			</tr>
			<tr>
				<td class="snsr 3fsemi">3Fゼミ室</td>
				<td class="snsr net" colspan="2">ネットワーク
					<br>実習室</td>
				<td class="snsr t2lab" colspan="2">T2実習室</td>
				<td class="snsr img" colspan="2">画像処理室</td>
				<td class="snsr t2cr">T2教室</td>
				<td class="less eltr">準備室</td>
			</tr>
		</table>
	</div>
	<div id="mapField">
		<h2>短大棟 2F</h2>
		<table id="map">
			<tr>
				<td class="corr" rowspan="3">吹き抜け</td>
				<td class="corr"></td>
				<td class="snsr s2lab" colspan="2">S2実習室</td>
				<td class="snsr 2ftr">2F教官室</td>
				<td class="less 2fwc">トイレ</td>
				<td class="less 2flk">更衣室</td>
				<td class="corr"></td>
				<td class="less 2fwh">2F倉庫</td>
				<td class="snsr wslab" rowspan="3">WS実習室</td>
			</tr>
			<tr>
				<td class="corr" colspan="8"></td>
			</tr>
			<tr>
				<td class="snsr s1lab" colspan="2">S1実習室</td>
				<td class="snsr s1cr">S1教室</td>
				<td class="snsr t1cr">T1教室</td>
				<td class="corr"></td>
				<td class="less lib" colspan="2">図書室</td>
				<td class="snsr 2fsemi">F2ゼミ室</td>
			</tr>
		</table>
	</div>
	<div id="mapField">
		<h2>短大棟 1F</h2>
		<table id="map">
			<tr>
				<td class="corr" rowspan="3">ホール</td>
				<td class="corr"></td>
				<td class="less cons">相談室</td>
				<td class="less rept">応接室</td>
				<td class="less mtg">会議室</td>
				<td class="less rest">休憩室</td>
				<td class="less 1fwc">トイレ</td>
				<td class="corr"></td>
				<td class="less pump">ポンプ室</td>
				<td class="less acmr" rowspan="3">空調機械室</td>
			</tr>
			<tr>
				<td class="corr" colspan="8"></td>
			</tr>
			<tr>
				<td class="snsr 1ftr" colspan="2">職員室</td>
				<td class="less aptr">学院長室</td>
				<td class="less htr">校長室</td>
				<td class="less 711" colspan="2">相談コーナー</td>
				<td class="corr"></td>
				<td class="less 1flk">更衣室</td>
			</tr>
		</table>
	</div>

	{# What this? #}
	<div id="content">
		<h2>What this?</h2>
		茨城県立IT短大の各教室に設置されたセンサーによって収集した値を、グラフやマップで表示します。
	</div>
{% endblock %}

{# ページのフッター #}
{% block footer %}
	{{ super() }}
{% endblock %}
